

/* HOMEPAGE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

/* GRADIENT BACKGROUND & TEXT COLOR */
body {
    background: linear-gradient(135deg, #2b2d42, #5a3f7f, #c084fc);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    color: #f8f8ff;
    font-family: 'Baloo 2' , cursive;  /* text */
    text-align: center;
    margin: 0;
    padding: 20px;
}
/* END OF HOMEPAGE FONTS */



/* HOME PAGE GRADIENT */
@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
/* END OFHOME PAGE GRADIENT */



/* HOME PAGE HEADINGS */
h1 {
    font-size: 3em;
    margin: 25px;
    color: #ff9ed6;
}

h2 {
    font-size: 2em;
    margin: 15px 0;
    color: #a0d8ef;
}
/* END OF HOME PAGE HEADINGS */



/* HOME PAGE CATEGORIES */
.category {
    margin-bottom: 40px;
}

/* iframe styling */
iframe {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
}

iframe:hover {
    transform:scale(1.03); /* hover effect */
}
/* END OF HOME PAGE CATEGORIES */



/* HOME PAGE BUTTONS */
#myPlaylistsBtn
{position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
padding: 12px 24px;
background-color: #ff8c94;
color: white;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 25px;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
transition: background 0.3s;
}

#myPlaylistsBtn:hover{
    background-color:#ff6b81;
}
/* END OF HOME PAGE BUTTONS */



/* HOMEPAGE NAVBAR */
.navbar {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #ff8c94;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}
.dropbtn:hover {
    background-color: #ff6b81;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
}
.dropdown-content .categoryBtn {
    background: none;
    border: none;
    color: #f8f8ff;
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}
.dropdown-content .categoryBtn:hover {
    background-color: #5a3f7f;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* END OF HOMEPAGE NAVBAR */
